.cardContainer {
            display: grid;
            grid-template-columns: 0.7fr 1.6fr 0.7fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                    "topLeft . ."
                    ". center ."
                    ". . bottomRight";

            width: 14.8rem;
            height: 20.8rem;

            background-color: white;

            font-family: "Ultra", serif;
            font-size: 2rem;
            border-radius: 1rem;
        }


.topLeftContainer {
    grid-area: topLeft;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.centerSymbol {
    grid-area: center;
    width: 7.5rem;
    height: 7.5rem;
    justify-self: center;
    align-self: center;
}

.bottomRightContainer {
    grid-area: bottomRight;
    justify-self: center;
    align-self: center;
    text-align: center;

img, p {
    transform: rotate(180deg);
}
}


.topLeftContainer p, .bottomRightContainer p {
    margin: 0;
}

.topLeftContainer img, .bottomRightContainer img {
    width: 1.5rem;
    height: 1.5rem;
}

.cardBack {
    width: 14.8rem;
    height: 20.8rem;
    box-sizing: border-box;
    border: 0.6rem solid white;
    border-radius: 1rem;

    background-color: white;
    background-image:
        repeating-linear-gradient(135deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 0px 50px),

        repeating-linear-gradient(45deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 25px 50px);
}