.card-back {
    width: 14.8rem;
    height: 20.8rem;
    box-sizing: border-box;
    border: 0.6rem solid white;
    border-radius: 1rem;
    
    background-color: white;
        background-image: 
            repeating-linear-gradient(135deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 0px 50px),

            repeating-linear-gradient(45deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 25px 50px);
}