.cardContainer {
            display: grid;
            grid-template-columns: 0.7fr 1.6fr 0.7fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                    "topLeft . ."
                    ". center ."
                    ". . bottomRight";

            width: 11.5rem;
            height: 16.1rem;

            background-color: white;

            font-family: "Ultra", serif;
            font-size: 1.5rem;
            border-radius: 1rem;

            flex-shrink: 0;
            animation: flip 0.4s ease-out;
        }


.topLeftContainer {
    grid-area: topLeft;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.centerSymbol {
    grid-area: center;
    width: 6.5rem;
    height: 6.5rem;
    justify-self: center;
    align-self: center;
}

.bottomRightContainer {
    grid-area: bottomRight;
    justify-self: center;
    align-self: center;
    text-align: center;

img, p {
    transform: rotate(180deg);
}
}


.topLeftContainer p, .bottomRightContainer p {
    margin: 0;
}

.topLeftContainer img, .bottomRightContainer img {
    width: 1.5rem;
    height: 1.5rem;
}

.cardBack {
    width: 11.5rem;
    height: 16.1rem;
    box-sizing: border-box;
    border: 0.6rem solid white;
    border-radius: 1rem;
    
    background-color: white;
        background-image: 
            repeating-linear-gradient(135deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 0px 50px),

            repeating-linear-gradient(45deg, rgba(250, 0, 10, 0.5) 0 25px, transparent 25px 50px);

        animation: flip 0.4s ease-out;
}

.held {
    outline: 4px solid gold;
    outline-offset: 4px;
}

@keyframes flip {
    0% {
        transform: rotateY(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .cardContainer {
        width: 9rem;
        height: 12.6rem;
        font-size: 1.2rem;
        border-radius: 0.8rem;
    }

    .cardBack {
        width: 9rem;
        height: 12.6rem;
        border-radius: 0.8rem;
    }

    .centerSymbol {
        width: 5rem;
        height: 5rem;
    }

    .topLeftContainer img,
    .bottomRightContainer img {
        width: 1.2rem;
        height: 1.2rem;
    }

}

@media (max-width: 800px) {
    .cardContainer {
        width: 8rem;
        height: 11.2rem;
        font-size: 1.1rem;
        border-radius: 0.7rem;
    }

    .cardBack {
        width: 8rem;
        height: 11.2rem;
        border-radius: 0.8rem;
    }

    .centerSymbol {
        width: 4.5rem;
        height: 4.5rem;
    }

    .topLeftContainer img,
    .bottomRightContainer img {
        width: 1.1rem;
        height: 1.1rem;
    }

}

@media (max-width: 700px) {
    .cardContainer {
        width: 6.5rem;
        height: 9.1rem;
        font-size: 1rem;
        border-radius: 0.6rem;
    }

    .cardBack {
        width: 6.5rem;
        height: 9.7rem;
        border: 0.4rem solid white;
        border-radius: 0.6rem;
    }

    .centerSymbol {
        width: 4rem;
        height: 4rem;
    }
    
    .topLeftContainer p, .bottomRightContainer p {
    margin: 0;
}

    .topLeftContainer img, .bottomRightContainer img {
        width: 1rem;
        height: 1rem;
    }

    .held {
        outline-offset: 2px;
    }
}